body{
    background-color: rgba(151, 204, 232, 1);
    border: 5px solid rgb(112, 203, 77);
    margin: 30px auto;
    color: white;
    text-align: center;
    padding: 50px;
    max-width: 600px;
    min-height: 450px;
}

a{
    color: rgb(112, 203, 77);
}

h1{
    font-style: italic;
}

h2{
    font-family: sans-serif;
}

li{
    list-style: none;
    display: inline-block;
    font-family: sans-serif;
    color: black
}

p{
    color: white;
}

img{
    width: 150px;
    height: 200px;
    float: right;
    margin-left: 30px;
}

section{
    text-align: left;
}

ul{
    padding: 0;
}