<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
        <h1>Not So Great Calculator</h1>
        <ul>
            <li id="zero">0</li>
            <li id="addThree">+3</li>
            <li id="addNine">+9</li>
            <li id="subTwo">-2</li>
            <li id="addOneHundred">+100</li>
        </ul>
        <h3 id="resultTotal">Result: </h3>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
